<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>subjects</key>
		<array>
			<dict>
				<key>color_hex</key>
				<integer>15681338</integer>
				<key>subject_name</key>
				<string>Algebra 1</string>
				<key>formulas</key>
				<array>
					<dict>
						<key>formula_name</key>
						<string>Linear Equation</string>
						<key>formula_equation</key>
						<string>y = mx + b</string>
						<key>storyboardID</key>
						<string>Algebra1-Linear_Equation</string>
					</dict>
					<dict>
						<key>formula_name</key>
						<string>Point Slope</string>
						<key>formula_equation</key>
						<string>y - y&lt;sub&gt;1&lt;/sub&gt; = m(x - x&lt;sub&gt;1&lt;/sub&gt;)</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
					<dict>
						<key>formula_name</key>
						<string>Pythagorean Theorem</string>
						<key>formula_equation</key>
						<string>a&amp;sup2; + b&amp;sup2; = c&amp;sup2;</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
					<dict>
						<key>formula_name</key>
						<string>Quadratic</string>
						<key>formula_equation</key>
						<string>TODO___</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
					<dict>
						<key>formula_name</key>
						<string>Square Root</string>
						<key>formula_equation</key>
						<string>&amp;radic;n</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>color_hex</key>
				<real>3716084</real>
				<key>subject_name</key>
				<string>Geometry</string>
				<key>formulas</key>
				<array>
					<dict>
						<key>isSection</key>
						<true/>
						<key>section_name</key>
						<string>Area</string>
						<key>formulas</key>
						<array>
							<dict>
								<key>formula_name</key>
								<string></string>
								<key>formula_equation</key>
								<string></string>
								<key>storyboardID</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>formula_name</key>
						<string>Circumference of a Circle</string>
						<key>formula_equation</key>
						<string>2&amp;pi;r &lt;span class=&apos;alternative-or&apos;&gt;or&lt;/span&gt; &amp;pi;d</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
					<dict>
						<key>formula_name</key>
						<string>Distance</string>
						<key>formula_equation</key>
						<string>TODO</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
					<dict>
						<key>formula_name</key>
						<string>Midpoint</string>
						<key>formula_equation</key>
						<string>((x&lt;sub&gt;2&lt;/sub&gt; + x&lt;sub&gt;1&lt;/sub&gt;) &amp;divide; 2) + ((y&lt;sub&gt;2&lt;/sub&gt; + y&lt;sub&gt;1&lt;/sub&gt;) &amp;divide; 2)</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
					<dict>
						<key>formula_name</key>
						<string>Slope</string>
						<key>formula_equation</key>
						<string>(y&lt;sub&gt;2&lt;/sub&gt; - y&lt;sub&gt;1&lt;/sub&gt;) &amp;divide; (x&lt;sub&gt;2&lt;/sub&gt; - x&lt;sub&gt;1&lt;/sub&gt;)</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
					<dict>
						<key>isSection</key>
						<true/>
						<key>section_name</key>
						<string>Surface Area</string>
						<key>formulas</key>
						<array>
							<dict>
								<key>formula_name</key>
								<string></string>
								<key>formula_equation</key>
								<string></string>
								<key>storyboardID</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>isSection</key>
						<true/>
						<key>section_name</key>
						<string>Volume</string>
						<key>formulas</key>
						<array>
							<dict>
								<key>formula_name</key>
								<string></string>
								<key>formula_equation</key>
								<string></string>
								<key>storyboardID</key>
								<string></string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>color_hex</key>
				<integer>3394911</integer>
				<key>subject_name</key>
				<string>Algebra 2</string>
				<key>formulas</key>
				<array>
					<dict>
						<key>formula_name</key>
						<string>Change of Base</string>
						<key>formula_equation</key>
						<string>Test Formula</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
					<dict>
						<key>formula_name</key>
						<string>Completed Square</string>
						<key>formula_equation</key>
						<string>Test Formula</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
					<dict>
						<key>formula_name</key>
						<string>Degrees to Radians</string>
						<key>formula_equation</key>
						<string>Test Formula</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
					<dict>
						<key>formula_name</key>
						<string>Difference of Cubes</string>
						<key>formula_equation</key>
						<string>Test Formula</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
					<dict>
						<key>formula_name</key>
						<string>Hyperbola</string>
						<key>formula_equation</key>
						<string>Test Formula</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
					<dict>
						<key>formula_name</key>
						<string>Pascal&apos;s Triangle</string>
						<key>formula_equation</key>
						<string>Test Formula</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
					<dict>
						<key>formula_name</key>
						<string>Radians to Degrees</string>
						<key>formula_equation</key>
						<string>Test Formula</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
					<dict>
						<key>formula_name</key>
						<string>Sequences &amp; Series</string>
						<key>formula_equation</key>
						<string>Test Formula</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
					<dict>
						<key>formula_name</key>
						<string>Vertex</string>
						<key>formula_equation</key>
						<string>Test Formula</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
					<dict>
						<key>formula_name</key>
						<string>Vertex Form</string>
						<key>formula_equation</key>
						<string>Test Formula</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>color_hex</key>
				<integer>3702517</integer>
				<key>subject_name</key>
				<string>Pre-Calculus</string>
				<key>formulas</key>
				<array>
					<dict>
						<key>formula_name</key>
						<string>Test Name</string>
						<key>formula_equation</key>
						<string>Test Formula</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>color_hex</key>
				<integer>8940266</integer>
				<key>subject_name</key>
				<string>Calculus</string>
				<key>formulas</key>
				<array>
					<dict>
						<key>formula_name</key>
						<string>Test Name</string>
						<key>formula_equation</key>
						<string>Test Formula</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>color_hex</key>
				<integer>1163763</integer>
				<key>subject_name</key>
				<string>Chemistry</string>
				<key>formulas</key>
				<array>
					<dict>
						<key>formula_name</key>
						<string>Test Name</string>
						<key>formula_equation</key>
						<string>Test Formula</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>color_hex</key>
				<integer>12517376</integer>
				<key>subject_name</key>
				<string>Everyday Math</string>
				<key>formulas</key>
				<array>
					<dict>
						<key>formula_name</key>
						<string>Test Name</string>
						<key>formula_equation</key>
						<string>Test Formula</string>
						<key>storyboardID</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
